In [1]:
import csv
import numpy as np
import os, sys

In [2]:
from objective_function import objective_function_1, objective_function_2

In [3]:
import pandas as pd

In [21]:
df=pd.read_csv("GA_benchmark_design_variables.csv")

In [22]:
df

,k1,k2,k4,k5,c1,c2,c4,c5,b1,b2,w1,w2,omega,Objective
0,20207.72,29807.14,22963.43,20396.14,660.41,706.82,642.35,640.00,2.00,3.5,0.75,1.20,-100.0,0.0031
1,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038
2,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038
3,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038
4,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038
5,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038
6,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038
7,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038
8,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038
9,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038
10,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038
11,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038
12,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038
13,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038
14,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038
15,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038
16,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038
17,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038
18,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038
19,29925.06,29905.84,30011.44,29525.23,643.48,644.14,640.29,648.49,2.23,2.5,0.99,1.19,-100.0,0.0038

In [23]:
#testing
print(df.iloc[19][11])

1.19

In [24]:
#setting up the parameters and design_variables
# using the objective function 1 only , so  design variables = [k1,k2,k4,k5,c1,c2,c4,c5,b1,b2,w1,w2]
# parameters = [omega] , m3=625

In [25]:
parameters=[]
design_variables=[]

In [26]:
for i in range(12):
    design_variables.append(df.iloc[19][i])

parameters.append(df.iloc[19][12])

In [27]:
#testing 
print(parameters)
print(design_variables)

[-100.0]
[29925.06, 29905.84, 30011.44, 29525.23, 643.48, 644.14, 640.29, 648.49, 2.23, 2.5, 0.99, 1.19]

In [28]:
final_val_obj=df.iloc[19][13]
final_val_obj

0.0038

In [29]:
#ready the bounds because they are required in objective function 1
l1 = [[20121,30180]]*4
l2 = [[640,960]]*4
l3 = [[2,3.5]]*2
l4 = [[0.75,1.2]]*2
l1.extend(l2)
l1.extend(l3)
l1.extend(l4)
bounds=l1

In [30]:
series_of_values=[0 for i in range(13)]

In [31]:
def evaluate(index,parameters,design_variables):
    f=objective_function_1(parameters,design_variables,bounds)
    #ans=del f/del variable
    ans=abs(final_val_obj-f)
    series_of_values[index]=ans

In [32]:
# Now comes the real part
i=0
while i<13:
    #for each variable change its value by +1
    if (i==12):
        parameters[0]=df.iloc[19][i]+1
        evaluate(i,parameters,design_variables)
        parameters[0]=df.iloc[19][i] # restoring the previous value
        
    else:
        design_variables[i]=df.iloc[19][i]+1
        evaluate(i,parameters,design_variables)
        design_variables[i]=df.iloc[19][i]  # restoring the previous value
    i+=1

In [33]:
series_of_values

[1.3614395936573358e-05,
 1.3614536447732056e-05,
 1.3614421479572932e-05,
 1.3614462644255271e-05,
 1.4633099285961404e-05,
 1.4589019706879106e-05,
 1.4618492491237992e-05,
 1.4638583935486314e-05,
 1.2067338486276055e-05,
 9.840019425158206e-06,
 6240.999989793848,
 9801.00002021975,
 5.473429126406047e-05]

In [34]:
parameters

[-100.0]

In [35]:
design_variables

[29925.06,
 29905.84,
 30011.44,
 29525.23,
 643.48,
 644.14,
 640.29,
 648.49,
 2.23,
 2.5,
 0.99,
 1.19]

In [36]:
df.iloc[19]

k1           29925.0600
k2           29905.8400
k4           30011.4400
k5           29525.2300
c1             643.4800
c2             644.1400
c4             640.2900
c5             648.4900
b1               2.2300
b2               2.5000
w1               0.9900
w2               1.1900
omega         -100.0000
Objective        0.0038
Name: 19, dtype: float64

In [37]:
#writing the values in csv
with open('GA_benchmark_sens.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["k1","k2","k4","k5","c1","c2","c4","c5","b1","b2","w1","w2","omega",])
    writer.writerow(series_of_values)